In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from mpl_toolkits.mplot3d import Axes3D

In [2]:
boston_data = pd.read_csv("boston.csv")

In [3]:
boston_data.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PT,B,LSTAT,MV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674030,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148862,2.105710,8.707259,168.537116,2.164946,91.294863,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377487,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440002,11.360000,21.200001
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.074999,5.188425,24.000000,666.000000,20.200001,396.225006,16.954999,25.000000
max,88.976196,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.899994,37.970001,50.000000

In [4]:
boston_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PT,B,LSTAT,MV
0,0.00632,18.0,2.31,0,0.538,6.575,65.199997,4.0900,1,296,15.300000,396.899994,4.98,24.000000
1,0.02731,0.0,7.07,0,0.469,6.421,78.900002,4.9671,2,242,17.799999,396.899994,9.14,21.600000
2,0.02729,0.0,7.07,0,0.469,7.185,61.099998,4.9671,2,242,17.799999,392.829987,4.03,34.700001
3,0.03237,0.0,2.18,0,0.458,6.998,45.799999,6.0622,3,222,18.700001,394.630005,2.94,33.400002
4,0.06905,0.0,2.18,0,0.458,7.147,54.200001,6.0622,3,222,18.700001,396.899994,5.33,36.200001

In [5]:
boston_data.shape

(506, 14)

In [6]:
boston_data.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PT', 'B', 'LSTAT', 'MV'],
      dtype='object')

In [433]:
LSTAT = boston_data['LSTAT'].values
PT=boston_data['PT'].values
RM=boston_data['RM'].values
MV=boston_data['MV'].values
CRIM=boston_data['CRIM'].values
#ZN=boston_data['ZN'].values
#INDUS=boston_data['INDUS'].values
# CHAS=boston_data['CHAS'].values
# NOX=boston_data['NOX'].values
# AGE=boston_data['AGE'].values
# DIS=boston_data['DIS'].values
# RAD=boston_data['RAD'].values
# TAX=boston_data['TAX'].values
# B=boston_data['B'].values

In [434]:
# %matplotlib notebook
# fig = plt.figure()
# ax = Axes3D(fig)
# ax.scatter(RM, LSTAT,MV)
# plt.show()

In [467]:
m = len(PT)
x0 = np.ones(m)
X = np.array([x0,LSTAT,PT,RM,CRIM]).T
B = np.random.randn(5)
#B1=np.array([0,0,0,0,0])
Y = np.array(MV)
alpha = 0.0001
lamb=0.001

In [468]:
# n_cols = X.shape[1]
# A=np.linalg.inv(X.T.dot(X)+lamb*np.identity(n_cols))
# B1=A.dot(X.T.dot(Y))
# print(B1)

In [469]:
n_cols = X.shape[1]
print(n_cols)

5

In [470]:
def cost_function(X, Y, B):
    m = len(Y)
    J = np.sum((X.dot(B) - Y) ** 2)/(2 * m)
    return J

In [475]:
def cost_function_L2(X, Y,B):
    m = len(Y)
    J1=(1/(2*m)) * ((np.sum((X.dot(B)-Y)**2)+(lamb)*np.sum(B **2)))
    return J1

In [476]:
cost_function(X, Y, B)

659.6547952665447

In [477]:
cost_function_L2(X, Y,B)

659.6548014748054

In [478]:
 from sklearn.model_selection import train_test_split
# split the data into training and testing subsets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2,random_state=1000)

In [479]:
def gradient_descent(X, Y, B, alpha, iterations):
    past_cost = [0] * iterations
    m = len(Y)
    for i in range(0,iterations):
        h = X.dot(B)
        loss = h - Y
        gradient = X.T.dot(loss) / m
        #B = B - alpha * (gradient-((lamb*B)/m))
        B = B - alpha * gradient
        cost = cost_function(X, Y, B)
        #if(i%500==0):
         #   print("Iteration %d | Cost: %f" % (i, cost))
        past_cost[i] = cost
    return B, past_cost

In [480]:
#say 1000 iterations
newB, past_cost = gradient_descent(X_train, y_train, B, alpha, 100000)

In [481]:
print("******Without using regularization*****")
print('Final cost after 10000 iterations is:',past_cost[-1])
print('New value of B(weight) is',newB)
print("Test_cost",cost_function(X_test,y_test,newB))

******Without using regularization*****
Final cost after 10000 iterations is: 14.325091401187972
New value of B(weight) is [ 0.20984067 -0.41063191 -0.58522671  6.15794694 -0.10455098]
Test_cost 12.464156130053974

In [482]:
def gradient_descent_L2(X, Y, B,alpha, iterations):
    past_cost = [0] * iterations
    m = len(Y)
    for i in range(0,iterations):
        h = X.dot(B)
        loss = h - Y
        gradient = X.T.dot(loss) / m
        B = B - alpha * (gradient+((lamb*np.sum(B1))/m))
        #B = B - alpha * gradient
        cost = cost_function_L2(X, Y, B)
        #if(i%1000==0):
        #   print("Iteration %d | Cost: %f" % (i, cost))
        past_cost[i] = cost
    return B, past_cost

newB1, past_cost = gradient_descent_L2(X_train, y_train, B, alpha, 100000)

In [483]:
print("****Using L2 regularization")
print('Final cost after 10000 iterations is:',past_cost[-1])
print('New value of B(weight) is',newB1)
print("Test_cost",cost_function_L2(X_test,y_test,newB1))

****Using L2 regularization
Final cost after 10000 iterations is: 14.325138916660936
New value of B(weight) is [ 0.20984249 -0.41063191 -0.5852268   6.15794691 -0.10455097]
Test_cost 12.46434473568684

In [389]:
# Model Evaluation using RMSE ans R2 score
def rmse(Y, Y_pred):
    rmse = np.sqrt(sum((Y - Y_pred) ** 2) / len(Y))
    return rmse

def r2_score(Y, Y_pred):
    mean_y = np.mean(Y)
    ss_B = sum((Y - mean_y) ** 2)
    ss_R = sum((Y - Y_pred) ** 2)
    r2 = 1 - (ss_R / ss_B)
    return r2

In [390]:
#calculate predicted value
Y_pred = X_test.dot(newB)

In [391]:
eval1=rmse(y_test,Y_pred)
print("Root mean square error is:",eval1)

Root mean square error is: 4.9993942968467735

In [392]:
eval2=r2_score(y_test, Y_pred)
print("R squared score is:",eval2)

R squared score is: 0.7070402835922922

In [393]:
#***********comparing with sklearn********

In [394]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [395]:
#defining input and output
X1 = np.array([LSTAT, RM,PT]).T
Y1 = np.array(MV)

In [396]:
reg = LinearRegression()

# fitting
reg = reg.fit(X1, Y1)

# Prediction
Y_pred1 = reg.predict(X1)

In [397]:
# Model Evaluation
rmse1 = np.sqrt(mean_squared_error(Y1, Y_pred1))
r21 = reg.score(X1, Y1)

In [398]:
print("Root mean square error using sklearn:",rmse1)
print("R2 score using sklearn:",r21)

Root mean square error using sklearn: 5.208685623398346
R2 score using sklearn: 0.6786241596452216